*{
    margin:0;
    padding:0;
    font-family:"popins";sans-serif;
    box-sizing:border-box;
}
html{
    scroll-behavior:smooth;
}
body{
   background-image:url("/playground_assets/frame5122-kfs1.svg");
  
}
.container img{
  top: 0px;
  left: 1006px;
  position: absolute;
  border-color: transparent;
  width:25rem;
  height:45rem; 
}
.company-profile img{
    width:30px;
    height:120px;
}
.login-container{
    height:500px;
    width:500px;
    margin-left:250px; 
}

.login-container span{
  font-family:sans-serif;
  font-style:oblique;
  font-weight:bold;
  font-size:52px;
}

.login-container img{
 width:50px;
 height:45px;
 align-items:center;
}
.form-label{
 font-weight:italic;
 font-size:30px;
}
.btn{
  background-color:rgb(213 79 178 / 87%); 
  border: none;
  border-radius:5px;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size:20px;
  margin: 4px 2px;
  cursor: pointer;
  margin-left:150px;
}
.login-link{
 color:purple;
 margin-left:70px;
}
/* -----for mobile devices-------- */
@media screen and (max-device-width: 480px){
    .container img{
       left:250px;
       width:80%;
       height:100%;
    }
    .company-profile img{
        margin-top:5px;
        padding:10px;
        width:150px;
        height:80px;
    }
     .login-container{
        height:10px;
        width:50px;
        margin-left:15px;
        margin-top:45px;
        display:flex;
        
    } 
    .login-container span{
        font-family:sans-serif;
        font-style:oblique;
        font-weight:bold;
        font-size:22px;
        
      }
      .login-container img{
        width:15px;
        height:20px;
        align-items:center;
       }
       .login-form{
        margin-top:30px;
       }
       .form-label{
        font-weight:italic;
        font-size:22px;
       }
       .form-control{
        width:220px;
        height:40px;
        border-radius:5px;
       }
       .btn{
        background-color:rgb(213 79 178 / 87%); 
        border: none;
        border-radius:5px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:20px;
        cursor: pointer;
        margin-left:15px;
      }
      .login-link{
       color:purple;
       margin-left:10px;
       margin-top:5px;
       display:flex;
       font-size:20px;
      }
}
/*---------for low resolution tablets----------*/
@media screen and (min-width:481px) and (max-width: 768px) {
    .container img{
        left:350px;
        width:80%;
        height:100%;
     }
     .company-profile img{
        padding:10px;
        width:200px;
        height:150px;
    }
    .login-container{
        height:10px;
        width:100px;
        margin-left:10px;
        margin-top:10px;
        display:flex;
    } 
    .login-container img{
        width:18px;
        height:30px;
        align-items:center;
       }
       .login-container span{
        font-family:sans-serif;
        font-style:oblique;
        font-weight:bold;
        font-size:25px;
      }
      .form-label{
        margin-top:15px;
        font-weight:italic;
        font-size:25px;
       }
       .form-control{
        width:310px;
        height:50px;
        border-radius:10px;
       }
      .btn{
        background-color:rgb(213 79 178 / 87%); 
        border: none;
        border-radius:5px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:25px;
        cursor: pointer;
        margin-left:65px;
      }
      .login-link{
       color:purple;
       margin-left:45px;
       margin-top:5px;
       display:flex;
       font-size:25px;
      }
}
/*-----------for tablets---------*/
@media screen and (min-width: 768px) and (max-width: 1024px){
    .container img{
        left:550px;
        width:80%;
        height:100%;
     }
     .company-profile img{
        padding:10px;
        width:200px;
        height:150px;
    }
     .login-container{
        height:10px;
        width:100px;
        margin-left:30px;
        margin-top:10px;
        display:flex;
    } 
     .login-container img{
        width:18px;
        height:30px;
        align-items:center;
       }
       .login-container span{
        font-family:sans-serif;
        font-style:oblique;
        font-weight:bold;
        font-size:35px;
      }
      .login-form{
        margin-top:10px;
       }
       .form-label{
        font-weight:italic;
        font-size:32px;
       }
       .form-control{
        width:310px;
        height:50px;
        border-radius:10px;
       }
       .btn{
        background-color:rgb(213 79 178 / 87%); 
        border: none;
        border-radius:5px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:25px;
        cursor: pointer;
        margin-left:65px;
      }
      .login-link{
       color:purple;
       margin-left:45px;
       margin-top:5px;
       display:flex;
       font-size:25px;
      }
}
/*--------for laptops and desktops-------*/
@media screen and (min-width: 1025px) and (max-width: 1280px){
    body{
        background-image:url("/playground_assets/frame5122-kfs1.svg");
     }
     .container img{
        left:650px;
        width:80%;
        height:100%;
     }
     .company-profile img{
        width:300px;
        height:150px;
    }
    .login-container{
        height:10px;
        width:100px;
        margin-left:30px;
        display:flex;
    } 
    .login-container span{
        font-family:sans-serif;
        font-style:oblique;
        font-weight:bold;
        font-size:50px;
      }
    .login-container img{
        width:30px;
        height:40px;
        align-items:center;
       }
       .login-form{
        margin-top:20px;
       }
       .form-label{
        font-weight:italic;
        font-size:42px;
       }
       .form-control{
        width:500px;
        height:80px;
        border-radius:10px;
        font-size:25px;
       }
       .btn{
        background-color:rgb(213 79 178 / 87%); 
        border: none;
        border-radius:5px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:40px;
        cursor: pointer;
        margin-left:65px;
        margin-top:20px;
        
      }
      .login-link{
       color:purple;
       margin-left:45px;
       margin-top:5px;
       display:flex;
       font-size:42px;
      }
}
/*---------for extra large screens-------*/
@media screen and (min-width: 1281px){
    .container img{
        top: 0px;
        left: 1006px;
        position: absolute;
        width:50%;
        height:100%; 
      }
      .company-profile img{
        width:370px;
        height:200px;
    }
    .login-container{
        margin-top:40px;
        display:flex;
    } 
    .form-label{
        margin-top:10px;
        font-weight:italic;
        font-size:42px;
       }
    .form-control{
        width:500px;
        height:70px;
        border-radius:10px;
        font-size:30px;
       }
       .btn{
        background-color:rgb(213 79 178 / 87%); 
        border: none;
        border-radius:5px;
        color: white;
        text-align: center;
        text-decoration: none;
        display: inline-block;
        font-size:40px;
        cursor: pointer;
        margin-left:70px;
        margin-top:20px;
        
      }
      .login-link{
       color:purple;
       margin-left:45px;
       margin-top:5px;
       display:flex;
       font-size:42px;
      }
}